html,
body,
#app {
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;

    font-family: 'Inter', sans-serif;
    background: var(--color-background);
    color: var(--color-text);
    line-height: 1.5;
}

#app {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}